* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(270deg, #ff6f61, #6b9ac4, orange
	 );
	background-size: 400% 400%;
	animation: gradientAnimation 15s ease infinite;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap;
	gap: 20px; /* Espacio entre las tarjetas */
	justify-content: center;
	padding: 20px;
	margin: 0; /* Elimina el margen por defecto del body */
	min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
	align-items: center; /* Centra las tarjetas verticalmente */
}
@keyframes gradientAnimation {
	2% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

/*inicio menu de bnavegacion*/
.navbar {
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
}

.navbar a:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

.menu {
	display: flex;
	gap: 10px;
}

.menu-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.menu-toggle div {
	width: 25px;
	height: 3px;
	background: #fff;
	margin: 4px 0;
	transition: all 0.3s ease;
}

.menu-responsive {
	display: none;
	flex-direction: column;
	align-items: flex-start;
}

@media (max-width: 768px) {
	.menu {
		display: none;
	}

	.menu-toggle {
		display: flex;
	}

	.menu-responsive {
		display: flex;
	}
}

/*termina menu de bnavegacion*/

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	display: flex;
	gap: 15px;


}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
	width: 100%;
	display: flex;

	flex-wrap: wrap;
	gap: 10px;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: calc(20% - 10px);
	color: white;
	text-align: center;
	display: flex;
	/* Flexbox para centrar el contenido */
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
	/* Transiciones suaves */
}




.card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	filter: brightness(1.2);
}

.card.active {
	z-index: 2;
	transform: scale(2.5);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	filter: brightness(1.2);
}

.textos {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	/* Transición suave para el fondo del texto */
}

.card.active .textos {
	background-color: rgba(0, 0, 0, 0.7);
	/* Cambia el color de fondo del texto en activo */
}

.textos h3,
.textos p {
	margin: 0;
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;


}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}